.spacer {
  height: 20px;
}

section {
  min-height: 100vh;
  overflow: hidden;
}

.concelt_text{
  color: black;
  font-size: 30px;
  font-weight: 500;
  text-transform: capitalize;
  word-wrap: break-word;
}

.concelt_text1{
  color: black;
  font-size: 18px;
  /* font-weight: 600; */
  text-transform: capitalize;
  word-wrap: break-word;
}

.concelt123 {
  box-shadow: 0 4px 8px rgba(221, 62, 62, 0.2);
  border-radius: 16px;
  background-color: #E1F1E7;
}

.concelt_button{
  background-color: #629584;
  color: white;
  font-size: 16px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600;
  text-transform: capitalize;
  word-wrap: break-word;
  border-radius: 16px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  /* margin-right: 20px; */
  /* width: 70%; */
  justify-content: center;
  align-items: center;
}